amber_score_secondary                                        no
atom_model                                                   all
bump_filter                                                  no
conformer_search_type                                        denovo
contact_score_primary                                        no
contact_score_secondary                                      no
continuous_score_secondary                                   no
descriptor_score_secondary                                   no
dn_constraint_formal_charge                                  2.0
dn_constraint_mol_wt                                         550
dn_constraint_rot_bon                                        15
dn_fraglib_anchor_file                                       {anchor}
dn_fraglib_linker_file                                       {linkers}
dn_fraglib_scaffold_file                                     {scaffolds}
dn_fraglib_sidechain_file                                    {sidechains}
dn_graph_breadth                                             3
dn_graph_depth                                               2
dn_graph_max_picks                                           30
dn_graph_temperature                                         100
dn_heur_matched_rmsd                                         2.0
dn_heur_unmatched_num                                        1
dn_max_current_aps                                           5
dn_max_grow_layers                                           2
dn_max_layer_size                                            25
dn_max_root_size                                             25
dn_max_scaffolds_per_layer                                   1
dn_output_prefix                                             final
dn_pruning_clustering_cutoff                                 100.0
dn_pruning_conformer_score_cutoff                            100.0
dn_pruning_conformer_score_scaling_factor                    2.0
dn_sampling_method                                           graph
dn_torenv_table                                              {torenv}
dn_unique_anchors                                            1
dn_user_specified_anchor                                     yes
dn_use_torenv_table                                          yes
dn_write_checkpoints                                         yes
dn_write_growth_trees                                        no
dn_write_orients                                             no
dn_write_prune_dump                                          yes
dock3.5_score_secondary                                      no
flex_defn_file                                               {flex}
flex_drive_file                                              {flex_drive}
footprint_similarity_score_secondary                         no
gbsa_hawkins_score_secondary                                 no
gbsa_zou_score_secondary                                     no
grid_score_es_scale                                          1
grid_score_grid_prefix                                       {grid}
grid_score_primary                                           yes
grid_score_rep_rad_scale                                     1
grid_score_secondary                                         no
grid_score_vdw_scale                                         1
internal_energy_cutoff                                       100.0
internal_energy_rep_exp                                      12
minimize_anchor                                              yes
minimize_flexible_growth                                     yes
minimize_ligand                                              yes
multigrid_score_secondary                                    no
orient_ligand                                                no
pharmacophore_score_secondary                                no
SASA_score_secondary                                         no
score_molecules                                              yes
simplex_anchor_max_iterations                                500
simplex_cycle_converge                                       1.0
simplex_grow_max_iterations                                  500
simplex_grow_tors_premin_iterations                          0
simplex_max_cycles                                           1
simplex_random_seed                                          0
simplex_restraint_min                                        no
simplex_rot_step                                             0.1
simplex_score_converge                                       0.1
simplex_tors_step                                            10.0
simplex_trans_step                                           1.0
use_advanced_simplex_parameters                              no
use_database_filter                                          no
use_internal_energy                                          yes
vdw_defn_file                                                {vdw}
