amber_score_secondary                                        no
atom_model                                                   all
automated_matching                                           yes
bump_filter                                                  no
calculate_rmsd                                               no
chemical_matching                                            no
cluster_conformations                                        yes
cluster_rmsd_threshold                                       2.0
conformer_search_type                                        flex
contact_score_primary                                        no
contact_score_secondary                                      no
continuous_score_secondary                                   no
critical_points                                              no
descriptor_score_secondary                                   no
dock3.5_score_secondary                                      no
flex_defn_file                                               {flex}
flex_drive_file                                              {flex_drive}
footprint_similarity_score_secondary                         no
gbsa_hawkins_score_secondary                                 no
gbsa_zou_score_secondary                                     no
grid_score_es_scale                                          1
grid_score_grid_prefix                                       {grid}
grid_score_primary                                           yes
grid_score_rep_rad_scale                                     1
grid_score_secondary                                         no
grid_score_vdw_scale                                         1
internal_energy_cutoff                                       100.0
internal_energy_rep_exp                                      12
ligand_atom_file                                             {ligand}
ligand_outfile_prefix                                        {docked_prefix}
limit_max_anchors                                            no
limit_max_ligands                                            no
max_orientations                                             1000
min_anchor_size                                              5
minimize_anchor                                              yes
minimize_flexible_growth                                     yes
minimize_ligand                                              yes
multigrid_score_secondary                                    no
num_scored_conformers                                        5000
orient_ligand                                                yes
pharmacophore_score_secondary                                no
pruning_clustering_cutoff                                    100
pruning_conformer_score_cutoff                               100.0
pruning_conformer_score_scaling_factor                       1.0
pruning_max_orients                                          1000
pruning_use_clustering                                       yes
rank_ligands                                                 no
read_mol_solvation                                           no
receptor_site_file                                           {spheres}
SASA_score_secondary                                         no
score_molecules                                              yes
simplex_anchor_max_iterations                                500
simplex_cycle_converge                                       1.0
simplex_grow_max_iterations                                  500
simplex_grow_tors_premin_iterations                          0
simplex_max_cycles                                           1
simplex_random_seed                                          0
simplex_restraint_min                                        no
simplex_rot_step                                             0.1
simplex_score_converge                                       0.1
simplex_tors_step                                            10.0
simplex_trans_step                                           1.0
skip_molecule                                                no
use_advanced_simplex_parameters                              no
use_clash_overlap                                            no
use_database_filter                                          no
use_internal_energy                                          yes
use_ligand_spheres                                           no
user_specified_anchor                                        no
vdw_defn_file                                                {vdw}
write_conformations                                          no
write_fragment_libraries                                     no
write_growth_tree                                            no
write_orientations                                           no
