atom_model                                                   all
bump_filter                                                  no
calculate_rmsd                                               no
conformer_search_type                                        flex
flex_defn_file                                               {flex}
flex_drive_file                                              {flex_drive}
fragment_library_freq_cutoff                                 1
fragment_library_prefix                                      {fraglib_prefix}
fragment_library_sort_method                                 freq
fragment_library_trans_origin                                no
ligand_atom_file                                             {molecules}
ligand_outfile_prefix                                        output
limit_max_ligands                                            no
num_scored_conformers                                        1
orient_ligand                                                no
rank_ligands                                                 no
read_mol_solvation                                           no
score_molecules                                              no
skip_molecule                                                no
use_database_filter                                          no
use_internal_energy                                          no
vdw_defn_file                                                {vdw}
write_fragment_libraries                                     yes
write_orientations                                           no
