from chimera import runCommand as rc

rc('open {protein} {ligand}')
rc('select #1 zr<{radius}')
rc('write format pdb selected #0 {active_site_pdb}')
rc('write format mol2 selected #0 {active_site_mol2}')
